.axis text {
  font: 10px sans-serif;
}

.axis .title {
  font-weight: bold;
  text-anchor: end;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* .x.axis path {
  display: none;
} */

.line {
  fill: none;
  stroke: #7D4CDB;
  stroke-width: 1.5px;
}

.event {
  fill: #00C781;
  font-weight: bold;
}
